@charset "UTF-8";/* container */
/* container */
.notice-section {width:700px; margin:0 auto; padding-top:160px;}
.notice-section h2 {text-align:center; color:#fff; font-size:34px; font-weight:500; position: relative; z-index:30; margin-bottom:5px;}
.notice-section h3 {text-align:center; color:#fff; font-size:22px; font-weight:300; margin-bottom:55px; position: relative;  z-index:30; margin-top:10px;}

/* 백그라운드 */
#container {}
.banner {
        width:100%;
        height:520px;
         background-image: url("../img/mypage/bg_Membership.jpg");
         background-size:cover;
         background-repeat: no-repeat;}

/* notice */
.notice {position: relative; top:-60px;}

/* notice list */
.support-list {height:60px;}
.support-list-center {width:900px; margin:0 auto;}
.support-list-center li {width:33.333333%; float:left; text-align:center; line-height:60px; background-color:#fff; border:1px solid #eee;}
.support-list-center li.on {background-color:#1d1d1d;border:1px solid #1d1d1d;}
.support-list-center li a {display:block; color:#1d1d1d;}
.support-list-center li.on a {color:#fff;}

/* notice 게시판
.notice-table {width:1140px; margin:0 auto; padding-top:80px; padding-bottom:100px;}

.table-box {width:100%;}
.table-box table {width:100%;}
.table-box table tr {width:100%; height:60px; border-bottom:1px solid #eee; line-height:60px; text-indent:30px; color:#454545;}
.table-box table tr th {text-align:left; width:86%; font-weight:500;}
.table-box table tr td a {color:#454545; display:block;}
.table-date {font-weight:200; font-size:14px;}

/* 테이블 페이지 넘버*/
/* .table-page {margin-top:200px;}
.page-number { width:15%; margin:0 auto;}
.page-number li {float:left;}
.page-number li a {color:#454545; padding:0 8px;}
.page-number li.on a {color:#0e693f;}  */


.section-edit {padding-top:80px; width:800px; margin:0 auto;}
.section-edit > h2 {font-size:36px; text-align:center; margin-bottom:50px; }
.section-edit > h3 {text-align:center; font-size:18px; color:#333;}
.section-edit > p {text-align:center; font-size:16px; color:#666; margin-top:5px; margin-bottom:30px;}

/* 회원정보수정 */
.edit-table {width:800px; margin:0 auto; padding-top:60px; padding-bottom:60px; border:1px solid #898989; border-radius: 5px;}

.edit-table > div {width:600px; margin:0 auto; padding-right:30px;}
.edit-table > div:last-child {border-right:none; padding-left:30px;}
.edit-table input {width:100%; height:46px; display:block; border:1px solid #666; line-height:30px; margin:10px 0; text-indent:10px; background:none;  border-radius:5px; color:#1d1d1d;}
.edit-table input::placeholder {font-size:12px;}
.edit-table label {color:#1d1d1d; font-weight:500;}

#id {margin-bottom:30px;}
#id h6 {font-size:16px; font-weight:500; color:#1d1d1d;}
#id p {color:#0e693f; line-height:40px;}

.name input {width:100%;  height:46px;}
.name > div {width:49.5%; float:left;}
.name1 {margin-right:5px;}


/* 생년월일 */
.birth {margin-top:20px;}
.birth label {display:block;}
.birth input[type="text"] {width:31.2%; height:46px; margin-right:2%; display:inline-block;}
.birth input[type="text"]:last-child {margin-right:0;}

/* 전화번호 */
.tel {margin-top:20px;}
.tel label {display:block;}
.tel input[type="text"] {width:31.2%; height:46px; margin-right:2%; display:inline-block;}
.tel input[type="text"]:last-child {margin-right:0;}
/* 이메일 */
.email {margin-top:20px;}

/* 주소 */
.adress {margin-top:20px;}
.adress label {display:block;}
.adress input[id="zipcode"] {width:67.8%; display:inline-block;}
.adress input.zipcodeBtn {width:31.2%; height:47px;background-color:#0e693f; color:#fff; border:none; border-radius:5px; display:inline-block;}

/* 수정하기버튼 */
.edit-table .submit-button {width:100%;margin:0 auto; height:50px; background-color:#0e693f; color:#fff; 
                        font-weight:600; border:none; margin-top:35px; }
.edit-table .submit-button:hover {background-color:rgba(14,105,63,0.8);}

/* delete_account CSS 탈퇴서비스 영역 */
.section02_del select {width:100%; height:46px; border-radius:5px; border:1px solid #666; padding-left:10px; }