@charset "UTF-8";

body {color:#1d1d1d; }

/* 객실 예약 제목 */
.option_channel {width:1200px; margin:0 auto; padding-top:120px;}
.head-title {font-size:40px; text-align:center; margin-bottom:66px;}

/* 진행 순서 */
.cha_index {width:100%; margin-bottom:28px;}
.cha_index:after {content:''; display:block; width:100%; height:1px; position: relative; bottom:-20px;
                background-color:#d2d2d2; }
.cha_index li {float:left;}
.cha_index li a {color:#898989; font-size:14px;}
.cha_index li a span {margin:0 10px;}
.cha_index li:nth-child(2) a {color:#1d1d1d; font-weight:600;}


/* 추가 옵션 박스 (왼쪽부분) */
.section-wrap { margin-bottom:80px;}
.section-wrap > div {float:left;}
.left-section {width:65%; height:100%; border:1px solid #d2d2d2; position: relative;}

/* 추가옵션 타이틀 */
.sec01-title {width:370px; height:42px; background-color:#000; color:#fff; position: absolute;
            top:0; left:0; line-height:42px; text-align:center;}

/* 첫번째 옵션 사항 - 스파 */
.add01 {width:100%; padding-top:100px; padding-left:35px; padding-right:20px; padding-bottom:50px; }
.add02 {width:100%; padding-top:60px; padding-left:35px; padding-right:20px; padding-bottom:50px; border-top:1px solid #d2d2d2;}
.breifNotice {margin:20px 0;}
.breifNotice > p {margin-bottom:10px; font-size:13px;}

.add-detail {position: relative;}
.add-detail > h3 {font-size:20px; font-weight:600; margin-bottom:42px;}
.add-detail > p {font-size:16px; line-height:1.5; margin-bottom:30px;}
.detail-pic {position: absolute; top:0; right:0; width:364px;}

.option-box {width:734px; padding:36px; background-color:#f7f7f7; font-size:15px; line-height:1.5;}
.option-detail {margin-bottom:40px;}
.option-box > p {margin-left:12px; }

.chk-box {position: relative;}
.number-chk select {width:42px; height:24px; border:none; background-color:#fff; position: absolute; bottom:0; right:0; 
    border:1px solid #636363; text-indent:10px;}
.button {float:right; position: relative; bottom:23px;}
.button > button {width:12px; height:10.5px; background-color:#fff; color:#1d1d1d; font-size:5px;
                background-repeat:no-repeat; background-position:center center; background-size:cover; 
                background-size:7px 7px; display:block; border:none;}

.button .more-button {background-image:url("../img/option-img/chk-more.png"); border-bottom:1px solid #636363;}
.button .down-button {background-image:url("../img/option-img/chk-down.png");}

/* 다이닝 예약 구역 */
.sec01-title {width:370px; height:60px; background-color:rgba(25,25,25,0.9); color:#fff; position: absolute;
    top:0; left:0; line-height:60px; text-align:center;}
.sec01-title > p {width:340px; height:40px; margin:0 auto; margin-top:10px; line-height:40px; border:1px solid rgba(230,220,220,0.5);}


.card {border-top:1px solid #d2d2d2; position: relative; font-size:14px;}
.cardType {margin-bottom:20px; margin-left:60px;}
.cardType label {margin-right:20px;}
.card input[type="text"] {width:432px; height:45px; border:1px solid #d2d2d2;}
.cardType select {width:432px; height:45px; padding-left:5px;}
.cardNumber label {margin-right:16px;}
.expiredDate select {width:213px; color:#666;}
.expiredDate label {margin-right:44px;}
.expiredDate input[type="text"] {width:213px;}


/* 인원 */
.person {margin-left:60px;}
.person label {float:left; margin-right:52px; line-height:45px;}
.person ul {float:left; border:1px solid #898989; width:210px; margin-right:11px; line-height:45px;}
.person li {float:left; padding-left:30px;}
.person li select {border:none; width:68px;}
.person ul .per:after {content:""; display:inline-block; width:1px; height:12px; background-color:#898989; position: relative; top:1px;
                    left:20px; margin-right:7px; }
.person .child {position: relative;}
.person .child p {position: absolute; right:0; bottom:-40px; color:#1d1d1d; font-size:13px; } 

/* 오른쪽 결제 금액 영역 */
.right-section { position: relative; width:35%;}

.confirmation-box {position:relative;  right:0; width:416px; height:745px; background-color:#f7f7f7;
                border:1px solid #d2d2d2; border-left:none;}

.confirmation-box.fix2 { position: absolute;  bottom:0; right:4px;}

.confirmation-box.fix { position: fixed; right:355px; top:0;}            

.content-area01 {padding:40px 36px; font-size:14px; color:#1d1d1d; line-height:1.6; }
.area {padding:30px 36px; border-top:1px solid #d2d2d2; font-size:14px;line-height:1.6; }

.content-area01 .point01 {color:#1a7149;} 
.content-area01 > h2 {font-size:18px;}
.content-area01 > p {font-size:13px; color:#666; margin:32px 0;}
.content-area01 > h3 {font-weight:400;}

/* .content-area > h2 {font-size:16px;}
.content-area > p {font-size:13px; color:#666;}
.content-area > ul h3 {font-weight:400;} */

.content-area02 ul {float:left;}
.content-area02 ul li h3 {font-size:14px; font-weight:400;}

.title01 {width:250px;}
.price01 {float:right; color:#1a7149; text-align:right;  }

.title02 {margin-bottom:16px;}
.title02 li {float:left; font-size:16px;}
.total-price {width:240px; }
.content-area03 > p {font-size:13px; color:#666; }
.next-but {width:340px; height:50px; background-color:#000; margin:35px 0;}
.next-but input {display:block; text-align:center; line-height:50px; color:#fff; background: none; color: #fff; width: 100%; height: 100%;}

.content-area03 {padding-bottom:22px;}

.area > h4 {color:#1d1d1d; font-size:14px;  }
.area > h4:before {content:""; display:inline-block; width:23px; height:23px; border-radius:50%;
                    background-color:#1d1d1d; background-repeat:no-repeat; 
                    background-position:center center; background-size:10px 10px; 
                    position:relative; top:6px; margin-right:10px;}
.content-area03 > h4:before {background-image:url("../img/option-img/ico_info01.png");  background-size:3px 10px; }
.content-area04 > h4:before {background-image:url("../img/option-img/ico_call01.png");  background-size:10px 10px; }
.content-area04 {padding-top:16px;}